body {
    margin: 0px;
    padding: 0px;
}

#container {
    /* background-color: #cc6633; */
    width: 990px;
    min-height: 330px;
    margin: auto;
    margin-bottom: 50px;
}

#header {
    background-color: #66aa99;
    height: 100px;
}

#left-sidebar, #right-sidebar{
    background-color: #cc88aa;
    width: 200px;
    height: 300px;
    float: left;
    margin: 5px 0;
}

#content {
    background-color: #66cc33;
    width: 580px;
    height: 1000px;
    float: left;
    margin: 5px;
}

#footer {
    background-color: #000;
    height: 45px;
    clear: both;
    color: #fff;
    text-align: center;
    line-height: 45px;
}

.menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.menu li {
    background-color: #6633cc;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    color: #fff;
}

.menu li:hover {
    background-color: #33cc99;
}

.sub-menu {
    background-color: #ff0000;
    width: 200px;
    list-style: none;
    padding: 0px;
    margin: -35px 0 0 190px;
    position: absolute;
    visibility: hidden;
}

.sub-menu li{
    background-color: #cc3366;
    width: 200px;
    height: 35px;
    line-height: 35px;
    margin-left: 
}

.menu li:hover .sub-menu{
    visibility: visible;
}

#adv {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #cc3366;
    position: fixed;
    bottom: 0;
}